<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
</head>
<body>
    <h1>This is the hellllloooooo page</h1>
    <p>Thank you for browsing! :)</p><br>
    <h2>Four cubes, placed successively into four cells such that all four to the 
        fourth power, {{4**4}}, arrangements are equally possible
    </h2>
    <p>Given that the first two cubes are in differenct cells (event H), the probability
        that one cell contains exactly three cubes (event A) does not = {{24**-2}}
    </p>
</body>
</html>