<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debug
    </title>
</head>
<body>
    {% if request.cookies %}
        <fieldset>
            <label>Cookies Received by Flask</label>
            <ul>
                {% for name, value in request.cookies.items() %}
                    <li>{{ name }} = "{{ value }}"</li>
                {% endfor %}
            </ul>
        </fieldset>
    {% endif %}

   {% if session %}
        <fieldset>
            <label>Flask Session</label>
            {{ session }}
        </fieldset>
    {% endif %}
</body>
</html>